
@font-face {
  font-family:pixelParagraaf;
  src: url(/Fonts/Retrobyte.ttf);
}


:root{
/* Kleuren */
    --white-color: hsl(0 0% 99%);
    --black-color: hsl(0 1% 21%);

     /* Typographie */
    --font-weight-standard: 400;
    --font-weight-heading: 800;
    --font-family-h: pixelHeading, Arial;
    --font-family-p: pixelParagraaf;

    --font-size-clamp-p: clamp(1.5rem, 2.5vw, 4rem);
    --font-size-h: 4rem;
    --font-size-clamp-p-media: clamp( 2.2 rem, 8vw, 2.9rem);
    --font-size-clamp-H-media: clamp(4rem, 10vw, 7rem);
    --font-size-clamp-a: clamp(1.5rem, 2.5vw, 4rem);
    --font-size-clamp-a-media: clamp( 2.2 rem, 8vw, 2.9rem);


}

/* =============== BASIS (mobile first) =============== */
body {
  background: url(3dcjfz5xxyw21.png) center/cover no-repeat;
  margin: 0;
  font-family: Arial, sans-serif;
}

 /* Dit is de styling van de h1  */

 h1 {
  font-family: pixelHeading, Arial, Helvetica, sans-serif;
  color:white;
  font-size: 4rem;
  font-weight: 900;
  max-width: 95%;
  color: white;
  -webkit-text-stroke: 1px black;

  @media (min-width: 768px) {
    font-size: clamp(4rem, 10vw, 7rem);
    transform: translate(0 0 0 0);
  }
}