{% render 'partials/head4.liquid' %}

<main class="container">



<a href="/overzicht" class="progress-link">Back to menu</a>

<section class="outer">
<section class="card-front">
  <h1 id="quest">Quest sprint 1 </h1>
	<ul>
  <label> Master HTML</label>
  <li>
    <progress value="30" min="0" max="100"></progress></li>
<label>Master CSS</label>
 <li> <progress value="20" min="0" max="100"></progress></li>
<label>Master JS</label>
<li>
  <progress value="0" min="0" max="100"></progress></li>
</ul>


		</section>

<section class="card-front">
  <h1 id="quest">Quest sprint 7 </h1>
  <ul>
  <label> Master HTML</label>
  <li>
    <progress value="50" min="0" max="100"></progress></li>
<label>Master CSS</label>
 <li> <progress value="50" min="0" max="100"></progress></li>
<label>Master JS</label>
<li>
  <progress value="35" min="0" max="100"></progress></li>
</ul>

<p></p>

		</section>
</section>
  

</main>




{% render 'partials/foot.liquid' %}