{% render 'partials/head.liquid' %}

<main class="container">
 <p>Dit is het visite kaartje van</p>
  <h1> {{ person.name }} </h1>
  <a href="/overzicht" class="progress-link">
   Klik hier om het avontuur te beginnen 
  </a>

</main>




{% render 'partials/foot.liquid' %}