{% render 'partials/head2.liquid' %}

<main class="container">

 <a href="/" class="back-btn" aria-label="Terug naar home">
   <p>X</p>
</a> 

  <a href="/Statistieken" class="forward-btn" aria-label="Naar statistieken">
    <img src="style/loopArrowRight.png">
  </a>

  <h1>Progressie</h1>
  <a href="/detail1" class="progress-link">
    Klik hier om de speler zijn progressie te bekijken
  </a>

</main>




{% render 'partials/foot.liquid' %}