{% render 'partials/head.liquid' %}

<section id="title">

<p>Dit is het visite kaartje van </p>

<h1>Bronx Postma</h1>

<a href=""> <p>Klik hier om het avontuur te beginnen</p> </a>

</section>




{% render 'partials/foot.liquid' %}