{% render 'partials/head3.liquid' %}

<main class="container">
<a href="/" class="back-btn" aria-label="Terug naar home">
   <p>X</p>
</a> 

  <a href="/overzicht" class="forward-btn" aria-label="Nieuwe pagina">
    <img src="style/loopArrow.png">
  </a>

  <h1>Statistieken</h1>
  <a href="experiment2.html" class="progress-link">
    Klik hier om de speler zijn stats te bekijken
  </a>

</main>




{% render 'partials/foot.liquid' %}